[submodule "test/unity/test/unity"]
	path = test/unity/test/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/unity/Unity"]
	path = test/unity/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
